body {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    background-color: yellow;
  }

#navbar{
    /* display: inline-block; */
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
  
}

#welcome-section{
    height: 100vh;
}

#projects{
    height: 100vh;
}

.project-tile{
    font-weight: bold;
}

@media only screen and (max-width: 500px){
    
    body{
        background-color : pink;
    }
}