body {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    background-color: yellow;
  }

#navbar{
    text-align: center;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
  
}

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 15px;
    margin-top: 25px;
}

#welcome-section{
    top: 0;
    height: 100vh;
    padding-top: 20vh
}

#projects{
    top: 0;
    height: 100vh;
    padding-top: 20vh;
}

.project-tile{
    font-weight: bold;
}

@media only screen and (max-width: 500px){
    
    body{
        background-color : pink;
    }
}